# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Kafka volumes (данные)
kafka/volumes/data/
kafka/volumes/config/

# Logs
*.log

# Config (если содержит секреты)
*.env
# kafka-test/config.yaml